<!DOCTYPE html>
<html>
  <head><title><%= title %></title></head>
  <body>
    <h1><%= title %></h1>
    <form action="/artists/<%= artist.artist_id %>/update" method="POST">
      <label>Name: <input type="text" name="name" value="<%= artist.name %>" required></label><br>
      <label>Country: <input type="text" name="country" value="<%= artist.country %>"></label><br>
      <button type="submit">Update Artist</button>
    </form>
    <p><a href="/artists">Back to Artists</a></p>
  </body>
</html>
