<!DOCTYPE html>
<html>
<head><title><%= title %></title></head>
<body>
  <h1><%= title %></h1>

  <% if (!artists || artists.length === 0) { %>
    <p>No artists found.</p>
  <% } else { %>
    <ul>
      <% artists.forEach(artist => { %>
        <li>
          <a href="/artists/<%= artist.artist_id %>"><%= artist.name %></a>
          - <a href="/artists/<%= artist.artist_id %>/update">Edit</a>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <p><a href="/artists/create">Add a new artist</a></p>
</body>
</html>
